@import "carbon-components/scss/globals/grid/grid";
#patientInfoForm {
    margin-top: 10%;
    background-color: rgb(255, 253, 251);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    height: 100%;
    margin-bottom: 5%;
  }
#patientinfo {
  padding: 2rem;
}