@import "carbon-components/scss/globals/grid/grid";
#patientform {
  margin-top: 5%;
  background-color: rgb(255, 253, 251);
  height: 100%;
  margin-bottom: 5%;
}
#patientinputs {
  margin-bottom: 2rem;
}