#header{
  background-color: black;
  border: none;
}
#logout{
  color: rgb(241, 238, 241);
  padding-right: 2%;
  font-size: 14px;
}
body{
  background-color: rgb(245, 245, 245,0.6);
  font-size: 20px;
}
